

### vscode ### 
/.vscode
/.venv
/node_modules

### IntelliJ IDEA ###
/.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Other ### 
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

##  png ###
q
QR.png
*.jpg
*.png

/24mn
